:root {
    --backgroundColor: #1E1E1E;
    --backgroundColorToo: #323232;
    --textColor: #BFF300;
    --textColorToo: #FFFFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--backgroundColor);
}

.container {
    max-width: 1200px;
    padding: 0 10px;
}

/* ---- header ----*/

.page__header {
    height: 120px;
}

.container_header {
    padding: 38px 10px 0 10px;
    display: flex;
    align-items: center;
}

.logoRomana {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: var(--textColor);
}

.сinematographer {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.menu {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    gap: 70px;
    margin-left: auto;
}

.menu_item {
    color: var(--textColorToo);
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent; 
    transition: border-bottom 0.4s ease-in-out;
}

.menu_item:hover {
    color: var(--textColor);
    border-bottom: 1px solid var(--textColor);
}

.filmreel {
    display: none;
}

/* ---- welcome block ---- */
:root {
    --heightWelcomePage: calc(100vh - 124px);;
}
.welcome_page {
    height: var(--heightWelcomePage);
}

.container_welcome {
    height: 100%;
    display: flex;
    align-items: end;
    padding-bottom: 75px;
}

.welcome_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_title {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: var(--textColor);
}

.contact_name {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: var(--textColorToo);
}

.contact_email, .contact_number {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--textColorToo);
}

.icon_block {
    display: flex;
    gap: 50px;
}
  
.icon::before {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
  
.icon:hover::before {
    opacity: 0.5;
}

.icon:hover img {
    filter: brightness(0) saturate(100%) invert(100%);
    transition: filter 0.2s ease-in-out;
}

.welcomeVideo {
    position: absolute;
    width: 100%;
    height: var(--heightWelcomePage);
    overflow: hidden;
    z-index: -1;
}

.welcomeVideo video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ---- showreels block ---- */

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: var(--textColorToo);
    padding: 64px 0 54px 0;
}

.showreels_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;
}

.showreel {
    width: 49%;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.showreel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
}

.showreel2022::before {
    background-image: url('../img/cover2022.jpg');
}
.showreel2020::before {
    background-image: url('../img/cover2020.jpg');
}
  
.showreel:hover::before {
    opacity: 0;
    display: none;
}

.showreel:not(:hover)::before {
    opacity: 1;
}

.subtitles {
    padding: 14px 10px 50px 10px;
    display: flex;
    position: relative;
}

.subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: var(--textColorToo);
    position: relative;
}

.subtitle2020 {
    left: 50%;
}

/* ---- clips block ---- */

.clips_page {
    background: var(--backgroundColorToo);
}

.item {
    padding: 0 5px 40px 5px;
}

.youtubeVideo {
    border-radius: 12px;
    border: 2px solid transparent;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--textColorToo);
}

.youtubeVideo p {
    padding: 15px 0 0 15px;
}

.youtubeVideo:hover {
    border: 2px solid var(--textColor);
    color: var(--textColor);
}

.youtubeVideo_full {
    padding:56.25% 0 0 0;
    position:relative;
    border-radius: 12px;
    overflow: hidden;
}

.youtubeVideo_full iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}

.youtubeVideo_full::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
}

.youtubeVideo_full:hover::before {
    opacity: 0;
    display: none;
}

.youtubeVideo_depo::before {
    background-image: url('../img/depo.jpg');
}
.youtubeVideo_boga::before {
    background-image: url('../img/boga.jpg');
}
.youtubeVideo_tatarka::before {
    background-image: url('../img/tatarka.jpg');
}
.youtubeVideo_mgun::before {
    background-image: url('../img/mgun.jpg');
}
.youtubeVideo_ro::before {
    background-image: url('../img/ro.jpg');
}
.youtubeVideo_queens::before {
    background-image: url('../img/queens.jpg');
}

/* ---- films block ---- */

.poster img {
    border-radius: 12px;
    width: 100%;
}

.about_film {
    padding: 24px 4px;
}

.film_name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--textColor);
}

.film_type {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--textColorToo);
    padding: 8px 0 6px 0;
}

.film_genre {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--textColorToo);
}

.genre {
    color: var(--textColor);
}

.film_description {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--textColorToo);
    padding: 18px 0 26px 0;
}

.film_status {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--textColor);
}

.film_awards {
    display: flex;
    gap: 40px;
    padding-top: 26px;
}

/* ---- show block ---- */

.show_page {
    background: var(--backgroundColorToo);
}

.youtubeVideo_cringe::before {
    background-image: url('../img/cringe.jpg');
}
.youtubeVideo_jam::before {
    background-image: url('../img/jam.jpg');
}
.youtubeVideo_brb::before {
    background-image: url('../img/brb.jpg');
}
.youtubeVideo_threecats::before {
    background-image: url('../img/threecats.jpg');
}

/* ---- podcasts block ---- */

.youtubeVideo_rule34::before {
    background-image: url('../img/rule34.jpg');
}
.youtubeVideo_stahovich::before {
    background-image: url('../img/stahovich.jpg');
}
.youtubeVideo_humanfriend::before {
    background-image: url('../img/humanfriend.jpg');
}
.youtubeVideo_letters::before {
    background-image: url('../img/letters.jpg');
}


/* ---- BIO block ---- */
.bio_page {
    background-color: var(--backgroundColorToo);
}

.container_bio {
    padding: 140px 10px;
}

.bio_content {
    display: flex;
    gap: 95px;
    align-items: center;
}

.bio_text {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    font-variant: small-caps;
    color: var(--textColorToo);
    width: 50%;
}

.bio_photo img {
    border-radius: 5px;
    max-height: 680px;;
}

.contacts {
    display: flex;
    gap: 95px;
    margin: 62px 0;
}

.agent_contact {
    width: 50%;
}

.socialmedia_icons {
    display: flex;
    justify-content: center;
    gap:220px
}

/* ---- footer ---- */
.container_footer {
    padding: 35px 10px 20px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(183, 183, 183, 1);
}

.metwet {
    color: rgba(161, 205, 0, 1);
    text-decoration: none;
}